* {
    box-sizing: border-box;
}

.welcome {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.25)), url('/images/welcome-1440.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'Roboto', sans-serif;
    
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.welcome::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 10vh solid rgba(126, 87, 194, 0.8);
    border-right: 100vw solid transparent;
}

.welcome::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 10vh solid rgba(126, 87, 194, 0.8);
    border-left: 100vw solid transparent;
}

.welcome > * {
    position: relative;
    z-index: 1;
}

.welcome .welcomeMessage {
    color: white;
    text-align: center;
    
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.welcome .inviteMessage {
    width: 100vw;
    padding: 2rem;
    font-size: 2rem;
    line-height: 2.5rem;
    
    display: flex;
    flex-direction: column;
}

.welcome .locations {
    padding-top: 1rem;
}

.welcome .location {
    font-size: 1.5rem;
    line-height: 3rem;
    vertical-align: center;
}

.invitePeople {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1em;
    padding-bottom: 3.5rem;
}

.inviteButtons {
    padding: 2rem;
}

.inviteButtons > * {
    margin: 0 2rem;
}

.inviteGif {
    width: 300px;
    height: 300px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.inviteGif > img {
    width: 100%;
    height: auto;
}

@media (max-width: 1024px) and (orientation: portrait) {
    html {
        font-size: 175%;
    }
    
    .welcome {
        background-position: 20%;
    }
}

@media (max-width: 1024px) and (orientation: landscape) {
    html {
        font-size: 85%;
    }
    
    .inviteGif {
        width: 200px;
        height: 200px;
        align-items: flex-start;
    }
}

@media (max-width: 1024px) {
    .welcome {
        background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.25)), url('/images/welcome-768.jpg');
    }
}

@media (max-width: 480px) {    
    .welcome {
        background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.25)), url('/images/welcome-360.jpg');
    }
}